p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}

pre {
  border: 1px solid #DDD !important;
  border-radius: 5px;
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
  background: #222222
}


.book .book-header h1 {
  opacity: 1;
  text-align: left;
}


#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}


.geek {
  padding: 1em 1em 1em 4em;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #f0f0f0 5px center/3em no-repeat;
  background-image: url("../images/geek.png");
}

.hint {
  padding: 1em 1em 1em 4em;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #f0f0f0 5px center/3em no-repeat;
  background-image: url("../images/hint2.png");
}

.important {
  padding: 1em 1em 1em 4em;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #f0f0f0 5px center/3em no-repeat;
  background-image: url("../images/hint.png");
}

.simple {
  padding: 1em 1em 1em 1em;
  border-radius: 20px;
  background: #f0f0f0;
}

.exercise {
  padding: 1em 1em 1em 4em;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #f0f0f0 5px center/3em no-repeat;
  background-image: url("../images/exercise_green.png");
}

/* webex style */

/* styles for solveme */
.solveme { border: 2px dotted var(--pink); }
.solveme.correct { border: 2px solid var(--green); }
/* styles for hidden solutions */
.solution {
    height: 2.2em;
    overflow-y: hidden;
    padding: 0.5em;
}
.solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.solution button {
    height: 1.5em;
    margin-bottom: 0.5em;
}
